@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-moz-selection {
  color: #eed9d9;
  background: #2e2e2e;
}

::selection {
  color: #eed9d9;
  background: #2e2e2e;
}

body {
  overflow-x: hidden;
}

@media (max-width: 1020px) {
  main .menu-btn {
    position: fixed;
    right: 3%;
    top: 1%;
    z-index: 9;
    cursor: pointer;
  }
  main .menu-btn span {
    display: block;
    width: 45px;
    height: 4px;
    background: red;
    margin-top: 10px;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  main .menu-btn.cross span:nth-child(1) {
    -webkit-transform: rotate(46deg) translate(8px, 12px);
            transform: rotate(46deg) translate(8px, 12px);
    -webkit-box-shadow: 1px 1px 3px #9e1212;
            box-shadow: 1px 1px 3px #9e1212;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  main .menu-btn.cross span:nth-child(2) {
    -webkit-transform: rotate(-48deg) translate(-2px, -3px);
            transform: rotate(-48deg) translate(-2px, -3px);
    -webkit-box-shadow: 1px 1px 3px #910b0b;
            box-shadow: 1px 1px 3px #910b0b;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  main .menu-btn.cross span:nth-child(3) {
    display: none;
  }
  main .side-bar {
    width: 100% !important;
    height: 9% !important;
    overflow: hidden;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    text-align: center !important;
  }
  main .side-bar .logo {
    margin-top: -9px !important;
    -webkit-transition: .5s ease-in-out !important;
    transition: .5s ease-in-out !important;
    display: inline-block !important;
  }
  main .side-bar .logo h1, main .side-bar .logo p {
    display: none !important;
  }
  main .side-bar.show {
    width: 100% !important;
    height: 100% !important;
    overflow-y: scroll !important;
  }
  main .side-bar.show .logo {
    margin-top: 2.2em !important;
  }
  main .side-bar.show .logo h1, main .side-bar.show .logo p {
    display: block !important;
  }
  main .images-section {
    margin-left: 0 !important;
    background: #e6dcdc;
  }
  main .images-section section {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  main .images-section section .slidershow {
    width: 100% !important;
    height: 80% !important;
    margin-top: 12% !important;
  }
  main .images-section section .slidershow .slides .slide img {
    -o-object-fit: cover !important;
       object-fit: cover !important;
  }
  main .images-section section .slidershow .slides .slide span {
    font-size: 1.9em !important;
  }
  main .images-section section .under-home {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    overflow: hidden;
    background: url("../resto-img/under.svg");
  }
  main .menus-section {
    margin-left: 0 !important;
  }
  main .gallery-section {
    margin-left: 0 !important;
  }
  main .booking-section {
    margin-left: 0 !important;
  }
}

@media (max-width: 850px) {
  main .services-section {
    margin-left: 0 !important;
  }
  main .services-section section .service-textImages .image-one img {
    width: 90% !important;
  }
  main .services-section section .service-textImages .image-two img {
    width: 80% !important;
  }
  main .services-section section .service-textImages .image-two p {
    width: 60% !important;
    margin-top: 3vh !important;
    text-align: center !important;
  }
  main .services-section section .service-textImages .image-three {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    margin: 8vh 2vh !important;
  }
  main .services-section section .service-textImages .image-three .romantic-text {
    -webkit-box-ordinal-group: 3 !important;
        -ms-flex-order: 2 !important;
            order: 2 !important;
    width: 85% !important;
  }
  main .services-section section .service-textImages .image-three img {
    width: 80% !important;
  }
  main .about-section {
    margin-left: 0 !important;
  }
  main .about-section section .about-us {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  main .about-section section .about-us .about-text {
    margin-top: 0 !important;
  }
  main .about-section section .about-us .about-text h1, main .about-section section .about-us .about-text h3 {
    margin-top: 4vh !important;
  }
  main .about-section section .about-us .about-text p {
    margin-top: 6px !important;
  }
  main .about-section section .about-us .about-map {
    margin-top: 7vh !important;
  }
}

@media (max-width: 700px) {
  main .images-section section .slidershow .slides .slide span {
    font-size: 1.5em !important;
  }
  main .images-section::before {
    left: 19% !important;
  }
  main .about-section section .about-us .about-map {
    height: 28vh !important;
  }
  main .menus-section .menu-cards .card-item.event {
    font-size: .8em !important;
  }
  main .menus-section .menu-cards .card-item.event h2 {
    margin-left: 1em !important;
  }
  main .menus-section .menu-cards .card-item.event ul {
    margin-left: 2em !important;
  }
}

@media (max-width: 450px) {
  header .loading {
    font-size: .8em !important;
  }
  header .loading .break {
    height: 35px !important;
  }
  header .loading .break:after {
    font-size: 10px !important;
  }
  main .images-section section .slidershow .slides .slide span {
    font-size: .8em !important;
  }
  main .side-bar .logo .fa-gitkraken {
    font-size: 2em !important;
  }
  main .images-section::before {
    left: 14% !important;
    font-size: 1.4em !important;
    bottom: 5%;
  }
  main .menus-section section .menu-cards .card-item.event {
    font-size: .5em !important;
  }
  main .menus-section section .menu-cards .above-line {
    font-size: 1.5em !important;
    margin-left: .7em !important;
  }
  main .menus-section section .menu-cards .line {
    margin-left: 1em !important;
  }
  main .menus-section section .menu-cards .card-item.menu section {
    margin-top: 1.5em !important;
    margin-bottom: 2em !important;
    margin-right: 1em !important;
  }
  main .gallery-section section .gallery-textImages .image-one {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  main .gallery-section section .gallery-textImages .image-one img {
    width: 90% !important;
    margin-left: 0 !important;
    margin-bottom: 5vh !important;
  }
  main .gallery-section section .gallery-textImages .image-two {
    text-align: center !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  main .gallery-section section .gallery-textImages .image-two p {
    margin: 5px 5vw !important;
  }
  main .gallery-section section .gallery-textImages .image-two img {
    width: 90% !important;
    margin: 5vh !important;
  }
  main .services-section section .service-textImages .image-one {
    font-size: 1.7em !important;
  }
  main .services-section section .service-textImages .image-one img {
    width: 95% !important;
  }
  main .services-section section .service-textImages .image-two {
    margin: 0 !important;
    font-size: .9em !important;
  }
  main .services-section section .service-textImages .image-two p {
    color: #914a4a !important;
  }
  main .services-section section .service-textImages .image-two ul {
    font-size: 1.1em !important;
    margin-left: 5vw !important;
  }
  main .services-section section .service-textImages .image-three {
    font-size: .7em !important;
  }
  main .services-section section .service-textImages .image-three img {
    width: 95% !important;
  }
  main .about-section section .about-us .about-text {
    font-size: 1em !important;
  }
  main .booking-section section .find-us {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
  }
  main .booking-section section .find-us .item {
    -ms-flex-preferred-size: 75% !important;
        flex-basis: 75% !important;
    border-bottom: 1px solid #442727;
    padding: 10px 0 !important;
  }
}

body {
  background: #f7f7f7;
  overflow: hidden;
  -webkit-animation: hide 1s linear forwards;
          animation: hide 1s linear forwards;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

@-webkit-keyframes hide {
  0%, 99% {
    overflow: hidden;
  }
  100% {
    overflow-y: scroll;
  }
}

@keyframes hide {
  0%, 99% {
    overflow: hidden;
  }
  100% {
    overflow-y: scroll;
  }
}

header {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110vh;
  overflow: hidden;
  -webkit-transform: translate(0, -60px);
          transform: translate(0, -60px);
  background: #313030;
  -webkit-animation: remove 1s linear forwards;
          animation: remove 1s linear forwards;
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
  position: fixed;
  width: 100%;
  z-index: 99;
}

header .loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2e2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 15;
  -webkit-animation: load 4.8s linear forwards;
          animation: load 4.8s linear forwards;
}

header .loading h2 {
  color: #dfdfdf;
}

header .loading .break {
  position: relative;
  width: 50%;
  height: 40px;
  background: transparent;
  margin: 0 20px;
  border: 2px solid rgba(186, 187, 159, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header .loading .break:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #96947c;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation: animate 4.5s linear forwards;
          animation: animate 4.5s linear forwards;
}

header .loading .break:after {
  content: "eating...";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 10px;
  text-align: center;
  line-height: 35px;
  color: white;
  font-size: 20px;
  mix-blend-mode: difference;
}

@-webkit-keyframes load {
  0%, 90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes load {
  0%, 90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

header .intro {
  position: relative;
  width: 400px;
}

header .intro div {
  position: relative;
  height: 100px;
  margin: -30px 0;
  z-index: 2;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
}

header .intro div:nth-child(2), header .intro div:nth-child(4) {
  -webkit-transform: skewY(15deg);
          transform: skewY(15deg);
  z-index: 1;
}

header .intro div:nth-child(4) {
  -webkit-transform: skewY(25deg);
          transform: skewY(25deg);
  -webkit-transform-origin: left;
          transform-origin: left;
  top: -52px;
}

header .intro div:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

header .intro div:nth-child(1):before, header .intro div:nth-child(3):before {
  background: linear-gradient(-16deg, #dacea2, #707a7c);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

header .intro div:nth-child(2):before, header .intro div:nth-child(4):before {
  background: linear-gradient(-16deg, #ddd3a5, #717c7b);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

header .intro div:nth-child(1):before {
  -webkit-animation: animate 1s linear forwards;
          animation: animate 1s linear forwards;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-animation-delay: 4.8s;
          animation-delay: 4.8s;
}

header .intro div:nth-child(2):before {
  -webkit-animation: animate 1s linear forwards;
          animation: animate 1s linear forwards;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation-delay: 5.8s;
          animation-delay: 5.8s;
}

header .intro div:nth-child(3):before {
  -webkit-animation: animate 1s linear forwards;
          animation: animate 1s linear forwards;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-animation-delay: 6.8s;
          animation-delay: 6.8s;
}

header .intro div:nth-child(4):before {
  -webkit-animation: animate 1s linear forwards;
          animation: animate 1s linear forwards;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-animation-delay: 7.8s;
          animation-delay: 7.8s;
  width: 75%;
  left: 0;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

header .intro div:nth-child(1):after, header .intro div:nth-child(3):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(46, 45, 45, 0.26);
}

header .intro div h2 {
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 10;
  color: white;
  opacity: 0;
}

header .intro div:nth-child(1) h2 {
  -webkit-animation: fadeText 0.5s linear forwards;
          animation: fadeText 0.5s linear forwards;
  -webkit-animation-delay: 5.8s;
          animation-delay: 5.8s;
  font-size: 38px;
  text-shadow: 2px 2px 3px black;
}

header .intro div:nth-child(3) h2 {
  -webkit-animation: fadeText 0.5s linear forwards;
          animation: fadeText 0.5s linear forwards;
  -webkit-animation-delay: 7.8s;
          animation-delay: 7.8s;
  font-size: 45px;
  text-shadow: 2px 2px 3px black;
}

@-webkit-keyframes fadeText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes remove {
  0%, 98% {
    visibility: visible;
  }
  100% {
    display: none;
    visibility: hidden;
    position: fixed;
  }
}

@keyframes remove {
  0%, 98% {
    visibility: visible;
  }
  100% {
    display: none;
    visibility: hidden;
    position: fixed;
  }
}

main .side-bar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #303030;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 15%;
  height: 100%;
  text-transform: uppercase;
  z-index: 5;
  -webkit-box-shadow: 1px -2px 3px rgba(255, 217, 0, 0.801);
          box-shadow: 1px -2px 3px rgba(255, 217, 0, 0.801);
}

main .side-bar .logo {
  text-align: center;
  margin-top: 1.5em;
  text-decoration: none;
  display: block;
}

main .side-bar .logo .fa-gitkraken {
  font-size: 3em;
  color: #72746b;
  -webkit-transform: translate(-5px, 25px);
          transform: translate(-5px, 25px);
  text-shadow: 3px 3px 6px black;
  -webkit-transition: 3s;
  transition: 3s;
}

main .side-bar .logo .fa-gitkraken:hover {
  text-shadow: 2px 2px 7px white;
}

main .side-bar .logo h1 {
  display: block;
  padding: 35px 0;
  width: 100%;
  color: #f7f7f7;
  font-weight: 300;
  text-shadow: -4px 4px 12px black;
}

main .side-bar .logo p {
  font-size: .7em;
  -webkit-transform: translate(-4px, -38px);
          transform: translate(-4px, -38px);
  color: rgba(218, 218, 218, 0.411);
  text-shadow: 1px 1px 7px #fdfdfd;
  margin-top: 1em;
}

main .side-bar ul li {
  padding: 10px;
  margin-top: 8%;
  margin-right: 3%;
  list-style: none;
  text-align: center;
  position: relative;
  font-size: 1.2em;
}

main .side-bar ul li a {
  color: #d7d9db;
  text-shadow: 1px 1px 1px #575252;
  display: block;
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

main .side-bar ul li a:hover {
  color: white;
  text-shadow: 3px 3px 9px black;
}

main .side-bar ul li a:before, main .side-bar ul li a:after {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  background-color: rgba(188, 226, 226, 0.801);
  left: 20%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .5s;
  transition: all .5s;
}

main .side-bar ul li a:before {
  top: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

main .side-bar ul li a:after {
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

main .side-bar ul li a:hover:before, main .side-bar ul li a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

main .side-bar ul li a i {
  margin-right: 10px;
}

main .side-bar .p {
  font-weight: 100;
  text-align: center;
  margin-top: 18%;
  text-transform: lowercase;
  color: rgba(250, 244, 158, 0.801);
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-size: .8em;
}

main .side-bar .p p {
  margin-top: 3px;
}

main .images-section {
  overflow: hidden;
  margin-left: 15%;
}

main .images-section section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .images-section section .slidershow {
  width: 85%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

main .images-section section .slidershow .slides {
  width: 400%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .images-section section .slidershow .slides input[name="w"] {
  position: absolute;
  visibility: hidden;
}

main .images-section section .slidershow .slides #w1:checked ~ .s1 {
  margin-left: 0;
}

main .images-section section .slidershow .slides #w2:checked ~ .s1 {
  margin-left: -25%;
}

main .images-section section .slidershow .slides #w3:checked ~ .s1 {
  margin-left: -50%;
}

main .images-section section .slidershow .slides #w4:checked ~ .s1 {
  margin-left: -75%;
}

main .images-section section .slidershow .slides .slide {
  width: 25%;
  background: url("../resto-img/breakfest.jpg");
  background-size: cover;
}

main .images-section section .slidershow .slides .slide:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.07);
}

main .images-section section .slidershow .slides .slide img {
  width: 100%;
  height: 100%;
  -webkit-animation: move 50s infinite;
          animation: move 50s infinite;
}

main .images-section section .slidershow .slides .slide span {
  font-size: 2.4em;
  position: absolute;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black;
}

main .images-section section .slidershow .slides .slide span p {
  background: rgba(204, 197, 105, 0.3);
  width: 70%;
}

main .images-section section .slidershow .slides .slide span h2 {
  font-weight: 200;
}

main .images-section section .slidershow .slides .slide span h4 {
  font-weight: 100;
}

@-webkit-keyframes move {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  95% {
    margin-left: -300%;
  }
  100% {
    margin-left: -400%;
  }
}

@keyframes move {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  95% {
    margin-left: -300%;
  }
  100% {
    margin-left: -400%;
  }
}

main .images-section section .slidershow .navigation {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .images-section section .slidershow .navigation .bar {
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 1px solid white;
  margin: 5px 35px;
  background: rgba(216, 216, 216, 0.226);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

main .images-section section .slidershow .navigation .bar:hover {
  background: #f0f0f0;
}

main .menus-section {
  overflow: hidden;
  margin-left: 15%;
}

main .menus-section section {
  width: 100%;
  height: auto;
  background: #e9dcdc;
}

main .menus-section .menu-cards .above-line {
  font-size: 1.7em;
  margin-left: 1.7em;
  color: #3d0606;
}

main .menus-section .menu-cards .line {
  display: block;
  width: 90%;
  margin-left: 3em;
  height: 2px;
  background-color: dimgray;
}

main .menus-section .menu-cards .card-item {
  width: 100%;
  height: auto;
  background: #e6dcdc;
}

main .menus-section .menu-cards .card-item.event {
  padding: 6em 0;
}

main .menus-section .menu-cards .card-item.event h1 {
  color: #970000;
  font-size: 2.2em;
  font-weight: 100;
  margin: 1em;
}

main .menus-section .menu-cards .card-item.event h2 {
  font-size: 2em;
  font-weight: 200;
  margin-left: 2em;
}

main .menus-section .menu-cards .card-item.event h2 span {
  display: inline-block;
  padding: 0 6px;
}

main .menus-section .menu-cards .card-item.event ul {
  margin-left: 5em;
  list-style: none;
  font-size: 1.7em;
}

main .menus-section .menu-cards .card-item.event ul li {
  margin-top: 1em;
}

main .menus-section .menu-cards .card-item.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .menus-section .menu-cards .card-item.menu section {
  width: 320px;
  margin-top: 2em;
  margin-bottom: 2.5em;
  margin-right: 3em;
}

main .menus-section .menu-cards .card-item.menu section .list-item {
  height: 120px;
  font-size: .9em;
}

main .gallery-section {
  overflow: hidden;
  margin-left: 15%;
}

main .gallery-section section {
  width: 100%;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6dcdc), to(white));
  background: linear-gradient(180deg, #e6dcdc, white);
}

main .gallery-section section .gallery-textImages {
  color: #363636;
}

main .gallery-section section .gallery-textImages .image-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5em;
}

main .gallery-section section .gallery-textImages .image-one img {
  width: 50%;
  margin-left: 5vw;
}

main .gallery-section section .gallery-textImages .image-one p {
  margin: 0 2em;
}

main .gallery-section section .gallery-textImages .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10%;
}

main .gallery-section section .gallery-textImages .burger ul {
  list-style: none;
  margin-top: 6%;
  margin-right: 10vw;
}

main .gallery-section section .gallery-textImages .burger ul li {
  -webkit-transition: 1s ease;
  transition: 1s ease;
  margin-top: -1px;
}

main .gallery-section section .gallery-textImages .burger ul li img {
  width: 180px;
  vertical-align: middle;
}

main .gallery-section section .gallery-textImages .burger ul .close-burger {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  margin-top: -60px;
}

main .gallery-section section .gallery-textImages .burger p {
  margin: 3em 7vw;
}

main .gallery-section section .gallery-textImages .burger p span {
  font-size: 1.3em;
  color: crimson;
}

main .gallery-section section .gallery-textImages .image-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12%;
}

main .gallery-section section .gallery-textImages .image-two img {
  width: 50%;
  margin: 2vw;
}

main .gallery-section section .gallery-textImages .image-two p {
  margin: 2vw;
}

main .services-section {
  overflow: hidden;
  margin-left: 15%;
}

main .services-section section {
  width: 100%;
  height: auto;
}

main .services-section section .service-textImages .image-one {
  margin: 10% 0;
  font-size: 2em;
  color: #4b4b4b;
  text-align: center;
}

main .services-section section .service-textImages .image-one img {
  width: 65%;
}

main .services-section section .service-textImages .image-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 3em;
}

main .services-section section .service-textImages .image-two p {
  color: crimson;
  width: 40%;
}

main .services-section section .service-textImages .image-two img {
  width: 45%;
}

main .services-section section .service-textImages .image-two ul {
  list-style: none;
  margin-top: 10vh;
  font-size: 1.5em;
}

main .services-section section .service-textImages .image-two ul li {
  color: #424242;
  font-size: .7em;
  margin: 1em 3em;
}

main .services-section section .service-textImages .image-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15vh 2vh;
  text-align: center;
}

main .services-section section .service-textImages .image-three .romantic-text {
  margin: 0 20px;
}

main .services-section section .service-textImages .image-three .romantic-text h2, main .services-section section .service-textImages .image-three .romantic-text h3 {
  font-weight: 100;
  color: #8d2323;
  margin-top: 3vh;
}

main .services-section section .service-textImages .image-three .romantic-text p {
  color: #2e2e2e;
  margin-top: 7px;
}

main .services-section section .service-textImages .image-three img {
  width: 50%;
}

main .about-section {
  overflow: hidden;
  margin-left: 15%;
}

main .about-section section {
  width: 100%;
  height: auto;
}

main .about-section section .about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

main .about-section section .about-us .about-text {
  font-size: 1.2em;
  margin-top: 5vh;
}

main .about-section section .about-us .about-text h1, main .about-section section .about-us .about-text h3 {
  font-weight: 200;
  margin-top: 10vh;
  color: #31595a;
}

main .about-section section .about-us .about-text p {
  margin-top: 2vh;
  color: #333;
}

main .about-section section .about-us .about-text a {
  color: #00a800;
}

main .about-section section .about-us .about-map {
  width: 65%;
  overflow: hidden;
  margin-top: 25vh;
}

main .about-section section .about-us .about-map button {
  background: transparent;
  border: none;
  outline: none;
}

main .booking-section {
  overflow: hidden;
  margin-left: 15%;
}

main .booking-section section {
  width: 100%;
  height: auto;
}

main .booking-section section .find-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 10vh;
  padding: 3vh 0;
  background: #e4dada;
}

main .booking-section section .find-us .item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
  font-size: 1.1em;
  margin-top: 5vh;
}

main .booking-section section .find-us .item a {
  display: block;
  text-decoration: none;
  color: #b95146;
  margin: 7px 0;
}
/*# sourceMappingURL=intro&navbar.css.map */