@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  overflow-x: hidden;
}

@media (max-width: 1020px) {
  main .menu-btn {
    position: fixed;
    right: 3%;
    top: 1%;
    z-index: 9;
    cursor: pointer;
  }
  main .menu-btn span {
    display: block;
    width: 45px;
    height: 4px;
    background: red;
    margin-top: 10px;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  main .menu-btn.cross span:nth-child(1) {
    -webkit-transform: rotate(46deg) translate(8px, 12px);
            transform: rotate(46deg) translate(8px, 12px);
    -webkit-box-shadow: 1px 1px 3px #9e1212;
            box-shadow: 1px 1px 3px #9e1212;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  main .menu-btn.cross span:nth-child(2) {
    -webkit-transform: rotate(-48deg) translate(-2px, -3px);
            transform: rotate(-48deg) translate(-2px, -3px);
    -webkit-box-shadow: 1px 1px 3px #910b0b;
            box-shadow: 1px 1px 3px #910b0b;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  main .menu-btn.cross span:nth-child(3) {
    display: none;
  }
  main .side-bar {
    width: 100% !important;
    height: 9% !important;
    overflow: hidden;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    text-align: center !important;
  }
  main .side-bar .logo {
    margin-top: -9px !important;
    -webkit-transition: .5s ease-in-out !important;
    transition: .5s ease-in-out !important;
    display: inline-block !important;
  }
  main .side-bar .logo h1, main .side-bar .logo p {
    display: none !important;
  }
  main .side-bar.show {
    width: 100% !important;
    height: 100% !important;
    overflow-y: scroll !important;
  }
  main .side-bar.show .logo {
    margin-top: 2.2em !important;
  }
  main .side-bar.show .logo h1, main .side-bar.show .logo p {
    display: block !important;
  }
  main .images-section {
    margin-left: 0 !important;
    background: #2e2e2e;
  }
  main .images-section:before {
    content: "ZOUJ OU HABA, khoul ou zid";
    position: absolute;
    bottom: 4%;
    left: 26%;
    font-size: 2em;
    color: #313131;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
    text-shadow: -2px 2px 7px #d6d6af;
  }
  main .images-section section {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  main .images-section section .slidershow {
    width: 100% !important;
    height: 80% !important;
    margin-top: 12% !important;
  }
  main .images-section section .slidershow .slides span {
    font-size: 1.9em !important;
  }
  main .menus-section {
    margin-left: 0 !important;
  }
  main .undefined-sections {
    margin-left: 0 !important;
  }
}

@media (max-width: 850px) {
  .images-section .slidershow .slides .slide img {
    -o-object-fit: cover !important;
       object-fit: cover !important;
  }
}

@media (max-width: 700px) {
  main .images-section .slidershow .slides .slide span {
    font-size: 1.5em !important;
  }
  main .images-section::before {
    left: 19% !important;
  }
}

@media (max-width: 450px) {
  main .images-section .slidershow .slides .slide span {
    font-size: .8em !important;
  }
  main .side-bar .logo .fa-gitkraken {
    font-size: 2em !important;
  }
  main .images-section::before {
    left: 14% !important;
    font-size: 1.4em !important;
    bottom: 5%;
  }
}

main .side-bar {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #303030;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 15%;
  height: 100%;
  text-transform: uppercase;
  z-index: 5;
  -webkit-box-shadow: 1px -2px 3px rgba(255, 217, 0, 0.801);
          box-shadow: 1px -2px 3px rgba(255, 217, 0, 0.801);
}

main .side-bar .logo {
  text-align: center;
  margin-top: 1.5em;
  text-decoration: none;
  display: block;
}

main .side-bar .logo .fa-gitkraken {
  font-size: 3em;
  color: #72746b;
  -webkit-transform: translate(-5px, 25px);
          transform: translate(-5px, 25px);
  text-shadow: 3px 3px 6px black;
  -webkit-transition: 3s;
  transition: 3s;
}

main .side-bar .logo .fa-gitkraken:hover {
  text-shadow: 2px 2px 7px white;
}

main .side-bar .logo h1 {
  display: block;
  padding: 35px 0;
  width: 100%;
  color: #f7f7f7;
  font-weight: 300;
  text-shadow: -4px 4px 12px black;
}

main .side-bar .logo p {
  font-size: .7em;
  -webkit-transform: translate(-4px, -38px);
          transform: translate(-4px, -38px);
  color: rgba(218, 218, 218, 0.411);
  text-shadow: 1px 1px 7px #fdfdfd;
  margin-top: 1em;
}

main .side-bar ul li {
  padding: 10px;
  margin-top: 8%;
  margin-right: 3%;
  list-style: none;
  text-align: center;
  position: relative;
  font-size: 1.2em;
}

main .side-bar ul li a {
  color: #d7d9db;
  text-shadow: 1px 1px 1px #575252;
  display: block;
  text-decoration: none;
  letter-spacing: 1px;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

main .side-bar ul li a:hover {
  color: white;
  text-shadow: 3px 3px 9px black;
}

main .side-bar ul li a:before, main .side-bar ul li a:after {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  background-color: rgba(188, 226, 226, 0.801);
  left: 20%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all .5s;
  transition: all .5s;
}

main .side-bar ul li a:before {
  top: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

main .side-bar ul li a:after {
  bottom: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
}

main .side-bar ul li a:hover:before, main .side-bar ul li a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

main .side-bar ul li a i {
  margin-right: 10px;
}

main .side-bar .p {
  font-weight: 100;
  text-align: center;
  margin-top: 18%;
  text-transform: lowercase;
  color: rgba(250, 244, 158, 0.801);
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  font-size: .8em;
}

main .side-bar .p p {
  margin-top: 3px;
}

main .images-section {
  overflow: hidden;
  margin-left: 15%;
}

main .images-section section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .images-section section .slidershow {
  width: 85%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

main .images-section section .slidershow .slides {
  width: 400%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .images-section section .slidershow .slides input[name="w"] {
  position: absolute;
  visibility: hidden;
}

main .images-section section .slidershow .slides #w1:checked ~ .s1 {
  margin-left: 0;
}

main .images-section section .slidershow .slides #w2:checked ~ .s1 {
  margin-left: -25%;
}

main .images-section section .slidershow .slides #w3:checked ~ .s1 {
  margin-left: -50%;
}

main .images-section section .slidershow .slides #w4:checked ~ .s1 {
  margin-left: -75%;
}

main .images-section section .slidershow .slides .slide {
  width: 25%;
  background: url("../resto-img/breakfest.jpg");
  background-size: cover;
}

main .images-section section .slidershow .slides .slide:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.07);
}

main .images-section section .slidershow .slides .slide img {
  width: 100%;
  height: 100%;
  -webkit-animation: move 50s infinite;
          animation: move 50s infinite;
}

main .images-section section .slidershow .slides .slide span {
  font-size: 2.5em;
  position: absolute;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black;
}

main .images-section section .slidershow .slides .slide span p {
  background: rgba(204, 197, 105, 0.3);
  width: 70%;
}

main .images-section section .slidershow .slides .slide span h2 {
  font-weight: 200;
}

main .images-section section .slidershow .slides .slide span h4 {
  font-weight: 100;
}

@-webkit-keyframes move {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  95% {
    margin-left: -300%;
  }
  100% {
    margin-left: -400%;
  }
}

@keyframes move {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  95% {
    margin-left: -300%;
  }
  100% {
    margin-left: -400%;
  }
}

main .images-section section .slidershow .navigation {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

main .images-section section .slidershow .navigation .bar {
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: 1px solid white;
  margin: 5px 35px;
  background: rgba(216, 216, 216, 0.226);
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

main .images-section section .slidershow .navigation .bar:hover {
  background: #f0f0f0;
}

main .menus-section {
  overflow: hidden;
  margin-left: 15%;
}

main .menus-section section {
  width: 100%;
  height: auto;
  background: #e9dcdc;
}

main .menus-section .menu-cards .above-line {
  font-size: 1.7em;
  margin-left: 1.7em;
  color: #3d0606;
}

main .menus-section .menu-cards .line {
  display: block;
  width: 90%;
  margin-left: 3em;
  height: 2px;
  background-color: dimgray;
}

main .menus-section .menu-cards .card-item {
  width: 100%;
  height: auto;
  background: #e6dcdc;
}

main .menus-section .menu-cards .card-item.event {
  padding: 6em 0;
}

main .menus-section .menu-cards .card-item.event h2 {
  font-size: 2em;
  font-weight: 200;
  margin-left: 2em;
}

main .menus-section .menu-cards .card-item.event h2 span {
  display: inline-block;
  padding: 0 6px;
}

main .menus-section .menu-cards .card-item.event ul {
  margin-left: 5em;
  list-style: none;
  font-size: 1.7em;
}

main .menus-section .menu-cards .card-item.event ul li {
  margin-top: 1em;
}

main .menus-section .menu-cards .card-item.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .menus-section .menu-cards .card-item.menu section {
  width: 320px;
  margin-top: 2em;
  margin-bottom: 2.5em;
  margin-right: 3em;
}

main .menus-section .menu-cards .card-item.menu section .list-item {
  height: 120px;
  font-size: .9em;
}

main .undefined-sections {
  overflow: hidden;
  margin-left: 15%;
}

main .undefined-sections section {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .undefined-sections section p {
  text-align: center;
  font-size: 2.2em;
  background: #fff;
  padding: 10px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
}

main .undefined-sections section:nth-child(1) {
  background: #13eb49;
}

main .undefined-sections section:nth-child(2) {
  background: #ebd613;
}

main .undefined-sections section:nth-child(3) {
  background: #d15f32;
}

main .undefined-sections section:nth-child(4) {
  background: #d132c9;
}
/*# sourceMappingURL=intro&navbar.css.map */