@mixin mediaXL {
    @media (max-width: 1020px) {
        @content;
    }
}

@mixin mediaL {
    @media (max-width: 850px) {
        @content;
    }
}

@mixin mediaM {
    @media (max-width: 700px) {
        @content;
    }
}

@mixin mediaS {
    @media (max-width: 450px) {
        @content;
    }
}


@include mediaXL {
    main {

        .menu-btn {
            position: fixed;
            right: 3%;
            top: 1%;
            z-index: 9;
            cursor: pointer;

            span {
                display: block;
                width: 45px;
                height: 4px;
                background: red;
                margin-top: 10px;
                transition: .5s ease-in-out;
            }
            &.cross {
                span:nth-child(1) {
                    transform: rotate(46deg) translate(8px, 12px);
                    box-shadow: 1px 1px 3px rgb(158, 18, 18);
                    transition: .5s ease-in-out;
                }
                span:nth-child(2) {
                    transform: rotate(-48deg) translate(-2px, -3px);
                    box-shadow: 1px 1px 3px rgb(145, 11, 11);
                    transition: .5s ease-in-out;
                }
                span:nth-child(3) {
                    display: none;
                }
            }
        }
        .side-bar {
            width: 100% !important;
            height: 9% !important;
            overflow: hidden;
            transition: .5s ease-in-out;
            text-align: center !important;

            .logo{
                margin-top: -9px !important;
                transition: .5s ease-in-out !important;
                display: inline-block !important;
                h1, p {display: none !important;}
            }

            &.show{
                width: 100% !important;
                height: 100% !important;
                overflow-y: scroll !important;

                .logo {
                    margin-top: 2.2em !important;
                    h1, p {display: block !important;}
                }
            }
        }
        .images-section {
            margin-left: 0 !important;
            background: rgb(48, 48, 48);

            &:before {
                content: "ZOUJ OU HABA, khoul o zid";
                position: absolute;
                bottom: 4%;
                left: 26%;
                font-size: 2em;
                color: rgb(49, 49, 49);
                font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
                text-shadow: -2px 2px 7px rgb(214, 214, 175);
            }
            section {
                align-items: flex-start !important;

                .slidershow {
                    width: 100% !important;
                    height: 80% !important;
                    margin-top: 12% !important;
    
                    .slides .slide {
                        img { object-fit: cover !important; }
                        span { font-size: 1.9em !important; }
                    } 
                }
            }
        }
        .menus-section {
            margin-left: 0 !important;
        }
        .gallery-section {
            margin-left: 0 !important;
        }
        .booking-section {
            margin-left: 0 !important;
        }
    }
}

@include mediaL {
    main .services-section {
        margin-left: 0 !important;

        section .service-textImages {

            .image-one {
                img {width: 90% !important;}
            }
            .image-two {
                img {width: 80% !important;}
                p {width: 60% !important; margin-top: 3vh !important; text-align: center !important;}
            }
            .image-three {
                flex-wrap: wrap !important;
                justify-content: center !important;
                margin: 8vh 2vh !important;
                .romantic-text{order: 2 !important; width: 85% !important;}
                img {width: 80% !important;}
            }
        }
    } 
    main .about-section {
        margin-left: 0 !important;
        section .about-us {
            justify-content: center !important;
            .about-text {
                margin-top: 0 !important;
                h1, h3 {margin-top: 4vh !important;}
                p {margin-top: 6px !important;}
            }
            .about-map {margin-top: 7vh !important;}
        }
    }
}

@include mediaM {
    main {
        .images-section section .slidershow .slides .slide span { font-size: 1.5em !important;}
        .images-section::before{left: 19% !important;}
        .about-section section .about-us .about-map {height: 28vh !important;}
        .menus-section .menu-cards .card-item.event { 
            font-size: .8em !important;
            h2 {margin-left: 1em !important;}
            ul {margin-left: 2em !important;}
        }
    } 

}

@include mediaS {
    main {
        .images-section section .slidershow .slides .slide span {font-size: .8em !important;}
        .side-bar .logo .fa-gitkraken {font-size: 2em !important;}
        .images-section::before{left: 14% !important; font-size: 1.4em !important; bottom: 5%;}
        .menus-section section .menu-cards {
            .card-item.event {font-size: .5em !important;}
            .above-line {font-size: 1.5em !important; margin-left: .7em !important;}
            .line {margin-left: 1em !important;}
            .card-item.menu section {

                margin-top: 1.5em !important;
                margin-bottom: 2em !important;
                margin-right: 1em !important;
            }
        }
        .gallery-section section .gallery-textImages {
            .image-one {
                flex-wrap: wrap !important;
                justify-content: center !important;
                img{width: 90% !important;margin-left: 0 !important; margin-bottom: 5vh !important;}
            }
            .image-two {
                text-align: center !important;
                flex-wrap: wrap !important;
                justify-content: center !important;
                p {margin: 5px 5vw !important;}
                img {width: 90% !important; margin: 5vh !important;}
            }
        }
        .services-section section .service-textImages {
            .image-one {
                font-size: 1.7em !important;
                img {width: 95% !important;}
            }
            .image-two {
                margin: 0 !important;
                font-size: .9em !important;
               p {color: rgb(145, 74, 74) !important;}
               ul {font-size: 1.1em !important; margin-left: 5vw !important;}
            }
            .image-three {
                font-size: .7em !important;
                img {width: 95% !important;}
            }
        }
        .about-section section .about-us .about-text {font-size: 1em !important;}
        .booking-section section .find-us { 
            flex-wrap: wrap !important;
            .item {flex-basis: 75% !important; border-bottom: 1px solid rgb(68, 39, 39); padding: 10px 0 !important;}
        }
    }

}



